{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>minesweeper</title>
    {% block style %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

{% block content %}

{% endblock %}

<script src="{% static 'minesweeper/js/htmx.min.js' %}" defer></script>
{% django_htmx_script %}
<script>
    // prevent showing context menu on right-click
    document.addEventListener('contextmenu', (event) => {
        event.preventDefault();
    });

    // include trigger type in headers
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['Hx-Trigger'] = event.detail.triggeringEvent.type;
    });
</script>
</body>
</html>
