{% extends "minesweeper/base.html" %}

{% load static %}

{% block style %}
    <style>
        .grid {
            border: 0.1px solid black;
            box-shadow: none;
            border-radius: 0;
            width: 30px;
            height: 30px;
            vertical-align: bottom;
            background-color: lightgray;
        }

        .revealed {
            background-color: transparent;
        }

        .control {
            width: 80px;
            height: 80px;
            margin: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="board">
        {% include "minesweeper/board.html" %}
    </div>
{% endblock %}
